// colors

$c-invert: #ffffff; // white

/* Oval: */
$color-teal: #1EC7BB;

 
/* Oval Copy 3: */
$color-ltblue: #2196F3;


/* Oval Copy 9: */
$color-red: #EA3D3D;


/* Oval Copy 4: */
$color-blue: #304EBB;


/* Oval Copy 5: */
$color-dkblue: #191B37;


/* Oval Copy 7: */
$color-grey: #f5f5f5;


/* Oval Copy 8: */
$color-ltpurple: #3F425A;

// fonts 

$primary-font: sans-serif;

// header size

$header-height-S: 50px;
$header-height-L: 80px;

// Navigation size

$nav-width-S: 260px;

// Search size

$search-height-S: 50px;
$search-height-L: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 3;